@import '../../../styles/common';

.task-block-buttons {
  @include positionBlock(absolute, null, null, 1rem, 8rem);

  &__save {
    @include changeColor(none, $lavanda);
    box-shadow: 0 0 49px 30px rgba(222, 169, 241, 1);
    @include focus();
  }

  &__delete {
    @include changeColor(none, $red);
    box-shadow: 0 0 41px 17px rgba(255, 0, 0, 0.72);
    @include indent(null, 0 6rem);
    @include focus();
  }

  &__download {
    @include changeColor(none, $lightBlue);
    box-shadow: 0 0 41px 17px rgba(98, 145, 240, 0.72);
    @include focus();
  }

  &__text {
    @include flexBlock(flex, null, flex-end);
  }

  .task-button {
    @include size(8rem, 8rem);
    @include fontBorder(null, 50%);

    &__img {
      @include size(6rem, 6rem);
    }
  }
}


//------------------------------------------
//---------------media queries--------------
//------------------------------------------


@include for-phone-tablet-only {
  .task-block-buttons {
    @include positionBlock(relative, null, null, auto);
    margin-left: -3rem;
    margin-top: 5rem;

    &__text {
      @include positionBlock(absolute, null, null, null, 23rem);
    }

    .task-button {
      @include size(6rem, 6rem);

      &__img {
        @include size(4rem, 4rem);
      }
    }
  }
}