@import 'src/styles/common';

.sign-in {
  margin: 2rem 2rem 0 2rem;
  border: none;
  outline: none;
  color: #ffffff;
  background: #DB7093;
  border-radius: 10px;
  cursor: pointer;
  font-size: 2rem;
  padding: 4% 6%;
}