.dropdown{
  position: absolute;
  top: 4rem;
  left: 4rem;
  display: grid;

  &__button {
    background: linear-gradient(45deg, #F17C58, #E94584, #24AADB, #27DBB1, #FFDC18, #FF3706);
    border: none;
    color: darkblue;
    cursor: pointer;
    margin-bottom: 1rem;
    height: 4rem;
    width: 8rem;
    border-radius: 8px;
  }
}
