@import 'src/styles/common';

.content {
  @include size(100vh, 100vw);
  background: url(./bg.jpg);
  background-size: cover;
}

.box {
  @include positionBlock(absolute, 50%, null, null, 50%);
  @include size(null, 40%);
  @include indent(6%);
  @include changeColor(null, rgba(0, 0, 0, .5), null);
  @include fontBorder(null, 4%);
  transform: translate(-50%, -50%);

  &__title {
    @include indent(0, 0 0 8%);
    @include fontBorder(6rem);
    @include changeColor(null, null, $white);
    text-align: center;
  }
}

.error-message {
  @include positionBlock(absolute, null, null, 14rem, 14rem);
  @include changeColor(null, inheri, $red);
  @include fontBorder(2.5rem);
  text-shadow: 2px 2px 5px $midnightBlue;
}
