@import 'src/styles/common';

.content {
  width: 100vw;
  height: 100vh;
  background: url(./bg.jpg);
  background-size: cover;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  padding: 6%;
  background: rgba(0, 0, 0, .5);
  border-radius: 4%;

  &__title {
    margin: 0 0 8%;
    padding: 0;
    font-size: 6rem;
    color: #ffffff;
    text-align: center;
  }
}

.inputBox {
  position: relative;

  &__userName {
    width: 100%;
    padding: 3.5% 0;
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #ffffff;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #ffffff;
  }

  &__wrapText {
    position: absolute;
    color: #ffffff;
    top: 0;
    font-size: 2.5rem;
    left: 0;
    padding: 4.5% 0;
    pointer-events: none;
    transition: .5s;
  }

  &__userName:focus+.inputBox__wrapText {
    top: -40%;
    left: 0;
    color: #DB7093;
    font-size: 2rem;
  }

  &__userName:valid+.inputBox__wrapText {
    top: -40%;
    left: 0;
    color: #DB7093;
    font-size: 2rem;
  }
}

.signIn {
  border: none;
  outline: none;
  color: #ffffff;
  background: #DB7093;
  border-radius: 13%;
  cursor: pointer;
  font-size: 2rem;
  padding: 4% 6%;
}
