@import 'src/styles/common';

.board {
@include flexBlock(flex, center, null);
@include indent(2rem 1rem, 2rem);
@include changeColor(6px solid $lightGrey);
@include fontBorder(null, 5%);
@include size(50rem, 30rem);
overflow: overlay;
flex-direction: column;

&__title {
font-weight: 700;
}
}
