@import 'src/styles/common';


.input-box {
  position: relative;

  &__user-name {
    width: 100%;
    padding: 3.5% 0;
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #ffffff;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #ffffff;
  }

  &__wrap-text {
    position: absolute;
    color: #ffffff;
    top: 0;
    font-size: 2.5rem;
    left: 0;
    padding: 4.5% 0;
    pointer-events: none;
    transition: .5s;
  }

  &__user-name:focus+.input-box__wrap-text {
    top: -40%;
    left: 0;
    color: #DB7093;
    font-size: 2rem;
  }

  &__user-name:valid+.input-box__wrap-text {
    top: -40%;
    left: 0;
    color: #DB7093;
    font-size: 2rem;
  }
}
