@import 'src/styles/common';

.input-box {
  @include positionBlock(relative);

  &__user-name {
    @include size(null, 100%);
    @include indent(3.5% 0, null);
    @include fontBorder(2.5rem);
    @include changeColor(none, transparent, $white);
    @include focus(null, none);
    margin-bottom: 30px;
    border-bottom: 1px solid $white;
  }

  &__wrap-text {
    @include positionBlock(absolute, 0, null, null, 0);
    @include indent(4.5% 0, null);
    @include fontBorder(2.5rem);
    @include changeColor(null, null, $white);
    pointer-events: none;
    transition: .5s;
  }

  &__user-name:focus+.input-box__wrap-text {
    @include positionBlock(absolute, -40%, null, null, 0);
    @include fontBorder(2rem);
    @include changeColor(null, null, $pink);
  }

  &__user-name:valid+.input-box__wrap-text {
    @include positionBlock(absolute, -40%, null, null, 0);
    @include fontBorder(2rem);
    @include changeColor(null, null, $pink);
  }
}
