$white: #ffffff;
$darkWhite: #fcfcf9;
$red: #FF0000;
$midnightBlue: #191970;
$lightGrey: #e2d0c3;
$chocolate: #483224;
$milkChocolate: #7c573d;
$brown: #A52A2A;
$pink: #DB7093;
$darkBlue: #00008B;
$lightBlue: #91b4fa;
$lightBrown: #D2691E;
$lightPink: #FFB6C1;
$lightLavanda: #f5dfe9;
$lavanda: #e5aafa;
$deepSkyBlue: #00bfff;
$piece: #fc9de1;
$purple: #6439a8;