@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    //640px
    @media (max-width: 40em) {
      @content
    }
  };
  @if $breakpoint == tab-port {
    //767px
    @media (max-width: 47.94em) {
      @content
    }
  };
  @if $breakpoint == small-tab {
    //850px
    @media (max-width: 53.12em) {
      @content
    }
  };
  @if $breakpoint == tab-land {
    //1023px
    @media (max-width: 63.94em) {
      @content
    }
  };
  @if $breakpoint == desktop {
    //1280px
    @media (max-width: 80em) {
      @content
    }
  }
  @if $breakpoint == big-desktop {
    //1440px
    @media (max-width: 90em) {
      @content
    }
  }
  @if $breakpoint == large-desktop {
    //1440px
    @media (min-width: 90em) {
      @content
    }
  };
}

@mixin lineClamp($lineQuantity) {
  overflow: hidden;
  text-overflow: ellipsis;

  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: $lineQuantity;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-clamp: $lineQuantity;
}

@mixin flexBlock($dp: flex, $ali: center, $jk: center) {
  display: $dp;
  align-items: $ali;
  justify-content: $jk;
}

@mixin size($hg: null, $wd: null) {
  height: $hg;
  width: $wd;
}

@mixin indent($pd: 0, $mg: 0) {
  padding: $pd;
  margin: $mg;
}

@mixin positionBlock($pz: absolut, $top: null, $rg: null, $bt: null, $lf: null) {
  position: $pz;
  top: $top;
  right: $rg;
  bottom: $bt;
  left: $lf;
}

@mixin changeColor($bd: null, $bg: null, $cl: null) {
  border: $bd;
  background: $bg;
  color: $cl;
}

@mixin fontBorder($fz, $br: null) {
  font-size: $fz;
  border-radius: $br;
}

@mixin focus($cr: pointer, $ou: null) {
  cursor: $cr;
  outline: $ou;
}