@mixin flexBlock($dp: flex, $ali: center, $jk: center) {
  display: $dp;
  align-items: $ali;
  justify-content: $jk;
}

@mixin size($hg: null, $wd: null) {
  height: $hg;
  width: $wd;
}

@mixin indent($pd: 0, $mg: 0) {
  padding: $pd;
  margin: $mg;
}

@mixin positionBlock($pz: absolut, $top: null, $rg: null, $bt: null, $lf: null) {
  position: $pz;
  top: $top;
  right: $rg;
  bottom: $bt;
  left: $lf;
}

@mixin changeColor($bd: null, $bg: null, $cl: null) {
  border: $bd;
  background: $bg;
  color: $cl;
}

@mixin fontBorder($fz, $br: null) {
  font-size: $fz;
  border-radius: $br;
}

@mixin focus($cr: pointer, $ou: null) {
  cursor: $cr;
  outline: $ou;
}

@mixin for-desktop-only {
  @media (max-width: 95.6em) { @content; }
}

@mixin for-desktop-small-only {
  @media (max-width: 65em) { @content; }
}

@mixin for-tablet-portrait-up {
  @media (max-width: 56.8em) { @content; }
}

@mixin for-phone-tablet-only {
  @media (max-width: 39em) { @content; }
}

@mixin for-phone-only {
  @media (max-width: 31.6em) { @content; }
}
