@import 'src/styles/common';

.modal {
  @include flexBlock();
  @include positionBlock(fixed, 0, 0, 0, 0);
  @include changeColor(null, rgba(0, 0, 0, 0.2), $chocolate);

  &__error-message {
    @include changeColor(null, null, $red);
    @include fontBorder(2rem);
    @include flexBlock();
    padding-bottom: 8rem;
    margin-top: -9.6rem;
  }
}

.modal-content {
  @include size(null, 48rem);
  @include changeColor(null, $lightGrey);

  .modal__header {
    @include indent(10px);
    text-align: center;

    .header__title {
      @include fontBorder(2.2rem);
    }
  }

  .modal__body {
    @include flexBlock(flex, null, center);
    @include size(11rem);
    @include indent(10px);
    @include fontBorder(2.5rem);
    border-top: 1px solid $milkChocolate;
    border-bottom: 1px solid $milkChocolate;
    text-align: center;
    flex-direction: column;

    .body__input {
      @include size(4rem, 31rem);
      @include indent(null, auto);
      @include fontBorder(2rem, 10px);
      @include changeColor(1px solid $brown, null, $chocolate);
      @include focus(null, none);
      padding-left: 2rem;
    }
  }

  .modal__footer {
    @include indent(10px);
    @include flexBlock(flex, null, space-around);

    .footer__button {
      @include size(4rem, 8rem);
      @include fontBorder(null, 10px);
      @include changeColor(1px solid $brown);
      @include focus();
    }
  }
}


//------------------------------------------
//---------------media queries--------------
//------------------------------------------


@include for-phone-only {

  .modal {
    &__error-message {
      @include fontBorder(1.8rem);
    }
  }
}
