@import 'src/styles/common';

.advice {
  @include positionBlock(absolute, 16rem, null, null, 64rem);
  max-width: 58rem;

  &__title {
    @include fontBorder(4rem);
    @include changeColor(null, null, $purple);
  }

  &__text {
    @include fontBorder(2.4rem);
    margin-top: 2rem;
  }
}


//------------------------------------------
//---------------media queries--------------
//------------------------------------------


@include for-desktop-small-only {
  .advice {
    left: 58rem;
  }
}

@include for-tablet-portrait-up {
  .advice {
    @include positionBlock(null, 10rem, null, null, 10rem);
    max-width: 46rem;

    &__title {
      @include fontBorder(3.5rem);
    }
  }
}

@include for-phone-tablet-only {
  .advice {
    max-width: 36rem;

    &__title {
      @include fontBorder(2.5rem);
    }

    &__text {
      @include fontBorder(2rem);
      margin-top: 1rem;
    }
  }
}
