@import '../../styles/common';

.aside {
  background: url(../../assets/think.png) no-repeat right;
  background-size: auto;
}

.arrow {
  @include size(5rem, 5rem);
  @include positionBlock(absolute, 12rem, null, null, 8rem);
  @include focus();
  @include fontBorder(null, 50%);
  @include changeColor(none, $lightBlue);
  z-index: 1;
  box-shadow: 0 0 16px 9px rgba(145, 180, 250, 0.94);

  &__img {
    @include size(4rem, 4rem);
  }
}

.task {
  @include positionBlock(absolute, 10rem, null, null, 5rem);
  @include size(null, 52rem);
  @include changeColor(1px solid $deepSkyBlue);
  @include indent(2rem 3rem);
  @include fontBorder(null, 10px);
  box-sizing: border-box;

  &__title {
    @include fontBorder(2rem);
    @include size(null, 44rem);
    margin-left: 5rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__edit {
    @include size(20rem, 46rem);
    @include indent(1rem, 4rem 0);
    @include changeColor(2px solid $lightPink);
    @include fontBorder(2rem, 10px);
    @include focus(null, none);
    resize: none;
    overflow: overlay;
  }

  &__description {
    @include fontBorder(2.4rem);
    @include indent(null, 0 0 8rem 0);
    @include size(11rem, 46rem);
    word-wrap: break-word;
    overflow: auto;
  }
}


//------------------------------------------
//---------------media queries--------------
//------------------------------------------


@include for-tablet-portrait-up {
  .app {
    height: 136vh !important;
    width: 123vw !important;
  }

  .aside {
    background: none;
  }

  .arrow {
    top: 5rem;
    left: 5rem;
  }

  .task {
    @include size(66vh);
    top: 24rem;
    bottom: auto;
    overflow: overlay;

    &__title {
      @include positionBlock(relative);
      padding-left: 0;
    }

    &__edit {
      @include size(20rem);
    }

    &__description {
      @include size(24rem);
    }
  }
}

@include for-phone-tablet-only {
  .app {
    height: 140vh !important;
    width: 144vw !important;
  }

  .task {
    @include size(null, 42rem);

    &__title {
      @include size(null, 38rem);
    }

    &__edit {
      @include size(20rem, 36rem);
      font-size: 2rem;
    }

    &__description {
      @include size(20rem, 36rem);
    }
  }
}
