@import '../../styles/common';

.task {
  @include positionBlock(absolute, 10rem, null, null, 5rem);
  @include size(null, 52rem);
  @include changeColor(1px solid $deepSkyBlue);
  @include indent(2rem 3rem);
  @include fontBorder(null, 10px);
  //overflow: auto;
  box-sizing: border-box;

  .arrow {
    @include size(5rem, 5rem);
    @include positionBlock(absolute);
    @include focus();
    @include fontBorder(null, 50%);
    @include changeColor(none, $lightBlue);
    box-shadow: 0 0 16px 9px rgba(145, 180, 250, 0.94);

        &__img {
          @include size(4rem, 4rem);
    }
  }

  &__title {
    @include fontBorder(4rem);
    @include size(null, 46rem);
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__edit {
    @include size(20rem, 46rem);
    @include indent(1rem, 4rem 0);
    @include changeColor(2px solid $lightPink);
    @include fontBorder(2.4rem, 10px);
    @include focus(null, none);
    resize: none;
    overflow: overlay;
  }

  &__description {
    @include fontBorder(2.4rem);
    @include indent(null, 0 0 10rem 0);
    @include size(11rem, 46rem);
    word-wrap: break-word;
    overflow: auto;
  }

  .task-block-buttons {
    @include positionBlock(absolute, null, null, 2rem, 8rem);

    &__save {
      @include changeColor(none, $lavanda);
      box-shadow: 0 0 49px 30px rgba(222, 169, 241, 1);
      @include focus();
    }

    &__delete {
      @include changeColor(none, $red);
      box-shadow:0 0 41px 17px rgba(255, 0, 0, 0.72);
      @include indent(null, 0 6rem);
      @include focus();
    }

    &__download {
      @include changeColor(none, $lightBlue);
      box-shadow: 0 0 41px 17px rgba(98, 145, 240, 0.72);
      @include focus();
    }

    .task-button {
      @include size(8rem, 8rem);
      @include fontBorder(null,50%);

      &__img {
        @include size(6rem, 6rem);
      }
    }
  }
}


//------------------------------------------
//---------------media queries--------------
//------------------------------------------


@include for-tablet-portrait-up {
  .task {
    top: 24rem;
    bottom: auto;

    &__edit {
      height: 20rem;
    }

    &__description {
      height: 24rem;
    }

    .arrow {
      top: -12rem;
      left: -3rem;
    }
  }
}

@include for-phone-tablet-only {

  .task {
    width: 42rem;

    &__title {
      width: 36rem;
    }

    &__edit {
      height: 20rem;
      width: 36rem;
      font-size: 2rem;
    }

    &__description {
      height: 28rem;
      width: 36rem;
    }

    .task-block-buttons {
      margin-left: -3rem;
      position: relative;
      margin-top: 5rem;
      bottom: auto;

      .task-button {
        @include size(6rem, 6rem);

        &__img {
          @include size(4rem, 4rem);
        }
      }
    }
  }
}
