@import 'src/styles/common';

.theme-choose {
  @include flexBlock(flex, null, null);
  flex-direction: column;
  z-index: 1;

  .theme__button {
    @include size(4rem, 10rem);
    @include fontBorder(null, 8px);
    @include focus();
    margin-bottom: 1rem;
  }
}

.button-theme-light {
  @include changeColor(1px solid $lightPink, linear-gradient(90deg, #cfecd0, #ffc5ca), $lightBrown);
}

.button-theme-dark {
  @include changeColor(1px solid $darkBlue, linear-gradient(3deg, #e6d16c, #16014c), $darkBlue);
}

.button-theme-neutral {
  @include changeColor(1px solid $lightBrown, linear-gradient(315deg, #f5d3c8 0%, #c08552 74%), $brown);
}
