@import 'styles/common';

* {
  @include indent();
}
html {
  @include fontBorder(62.5%);
  @include size(100%);
  // 1rem = 10px => 10 / 16 * 100 = 62,5%
}
body {
  @include indent();
  @include fontBorder(1.6rem);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}
